{% extends "core/base.html" %}

{% block content %}
<div class="max-w-xl mx-auto py-6 text-center text-white bg-green-600">
    <h1 class="text-3xl">Welcome back to ProjectPulse!</h1>

    <form class="py-6 px-8 space-y-4" method="post" action=".">
        {% csrf_token %}
        <div class="space-y-4">
            <label for="">Email</label><br>
            <input name="email" type="email" class="w-full py-4 px-6 rounded-xl text-black outline outline-green-900">
        </div>
        <div class="space-y-4">
            <label for="">Password</label><br>
            <input name="password" type="password" class="w-full py-4 px-6 rounded-xl text-black outline outline-green-900">
        </div>
        <div>
            <button class="py-4 px-8 rounded-xl text-white bg-green-800">Log In</button>
        </div>
    </form>
</div>
{% endblock %}