{% extends "core/base.html" %}

{% block content %}
<header class="py-6 text-center bg-green-700 text-white">
    <h1 class="text-3xl">About</h1>
    <br>
    <h2 class="text-2xl">At ProjectPulse, we understand that the heartbeat of any successful project is effective management and seamless communication. Our taskboard is engineered to provide an intuitive, real-time overview of your project's progress. </h2>
</header>

<div class="space-y-6 mt-6">
    <p>
        With ProjectPulse, you can easily create, assign, and track tasks, ensuring that <strong>your project stays on track and on time.</strong> Key features:
        <ul class="list-disc list-outside pl-6">
            <li><strong>To-do Lists: </strong>Add a to-do list to any project and organize tasks into manageable lists. </li>
            <li><strong>Task Handling: </strong>Add tasks to your to-do lists, view specific task details, edit tasks to update their status or content, and delete tasks as they are completed or canceled.</li>
            <li><strong>File Management: </strong>Attach files to tasks or notes, ensuring all relevant documents are easily accessible and manageable within the project environment.</li>
            <li><strong>Notes: </strong>Keep track of important ideas and meetings. Browse through a list of all notes, view detailed contents, and edit notes to reflect new insights.</li>
        </ul>   
    </p>
</div>

{% endblock %}